@inherits Derp.Inventory.Web.views.RazorView<Derp.Inventory.Messages.CompleteCycleCount>

<form method="POST" action="@Form.Action">
    @Form.HiddenFor(c => c.WarehouseItemId, Model.WarehouseItemId)
    @Form.LabelFor(c => c.QuantityFound)
    @Form.TextBoxFor(c => c.QuantityFound)
    @Form.Submit()
</form>